<%= simple_form_for @comment, defaults: { input_html: { class: 'ui form' } } do |f| %>
  <%= f.error_notification %>

  <div class="ui form">
    <%= f.association :user, input_html: { class: 'ui fluid dropdown' }, wrapper_html: { class: 'field' } %>
    <%= f.input :comment, wrapper_html: { class: 'field' } %>
  </div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
